* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    overflow: hidden;
}
a, a:active, a:visited {
    text-decoration: underline;
    color: inherit;
    margin-right: 20px;
    margin-left: 20px;
}
a:hover:before {
    position: absolute;
    content: "> ";
    margin-left: -10px;
    
}
#terminal {
    background-color: rgb(20,20,40);
    width: 60vw;
    margin-left: 20vw;
    margin-top: 10vh;
    border-radius: 6px;
    color: white;
    font-family: 'Courier New';
    padding: 20px;
    padding-bottom: 400px;
    box-sizing: border-box;
    border-top: 20px solid rgb(40,40,60);
}
.cursor {
    animation: blinker 0.5s step-start infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@media only screen and (max-width: 800px) {
    body {
        overflow: hidden;
        font-size: 0.8rem;
    }
    #terminal {
        width: 100vw;
        margin: 0;
        height: 100vh;
    }
}
